body{
     margin: 0;
      font-family:'Yoster Island Regular';
      background-color:lightcyan;
      color: #333;
    }
    h1{
    text-align: center;
     font-size:x-large;
     margin-top: 2%;
     color: black;
    }
    h3{
    text-align: center;
     font-size:medium;
     margin-top: auto;
     color: black;
    }
    .nav {
    background-color:lightgreen;
     border-radius: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
    }
     .nav a {
     display: block;
     color:#333;
     text-align: center;
     padding: 20px 16px;
     font-size: 18px;
     font-weight: bold;
     }
     Img {
     float: left;
     width: 130px;
     height: auto;
     margin: 15px 20px 15px 0;
     border-radius: 10px;
     }
    .card{
background-color:white;
border-radius: 25px;
box-shadow: 0 8px 15px rgba(0,0,0,0.2);
width: 600px;
text-align: center;
padding: 1rem;
transition: transform 0.3s, box-shadow 0.3s;
    }
    .cards-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 2rem;
gap: 2rem;
}

.card img {
width: 180px;
height: 180px;
object-fit: cover;
margin-bottom: 1rem;
}
.card h2 {
font-size: 1.5rem;
color: black;
margin: 0.5rem 0;
}
.card p {
font-size: 1rem;
color: black;
}